*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.topbar{
    position: relative;
    background: rgb(121, 173, 53) ;
    box-shadow: 0 4px 8px  0 rgba(0, 0, 0, 0.08);
    width : 100%;
    height: 60px;
    padding: 0 20px;
    display:grid;
    grid-template-columns: 0.1fr 2fr;
    align-items: center;
    z-index: 1;
}
.logo{
    position: relative;
    color: #ffffff;
}
.search{
    position: relative;
    width: 60%;
    justify-self: center;
}
.search input{
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: f5f5f5f5
}
.search i{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.user{
    position: relative;
    width: 50px;
    height: 50px;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* side bar starts here */

.sidebar{
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% -60px);
    background: #1c985ccf;
    overflow: hidden ;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    width: 100% ;
    text-decoration: none;
    color: rgb(155, 49, 49);
    height: 60px;
    display: flex;
    align-items: center;
}